@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-size: 16px;
}

.blog-card-container {
    width: 384px;
    padding: 24px;
    background-color:  hsl(0, 0%, 100%);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px black;
    transition: all 0.3s ease;
}

.blog-card-container:hover {
    .title {
        color: hsl(47, 88%, 63%);
    }
    box-shadow: 16px 16px black;
}

.blog-image {
    border-radius: 10px;
    margin-bottom: 24px;
}

.blog-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    margin-bottom: 24px;
}

.category {
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    border-radius: 4px;
    padding: 4px 12px;
    font-weight: 800;
    font-size: 0.875em;
}

.date {
    font-size: 0.875em;
}

.title {
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.description {
    color: hsl(0, 0%, 42%);
    font-size: 1em;
}

.author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-pic{
    width: 32px;
    height: 32px;
}

.author-name {
    font-weight: 800;
    font-size: 0.875em;
}

.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 420px) {
    body {
        font-size: 14px;
    }
    .blog-card-container {
        width: 327px;
    }
    .blog-image {
        width: 279px;
    }
    
}